<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.smartdengg.presentation">

  <application
    android:name=".DebugApplication"
    android:icon="@mipmap/ic_launcher"
    android:label="${debug_label}"
    android:largeHeap="false"
    android:supportsRtl="false"
    android:theme="@style/AppTheme"
    tools:replace="name,label,largeHeap,supportsRtl">

    <activity
      android:name=".city.CityActivity"
      android:theme="@style/AppTheme.MainTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".LogoActivity"
      android:enabled="false"
      tools:remove="theme">
      <intent-filter tools:node="removeAll" />
    </activity>

  </application>
</manifest>
