<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.smartdengg.presentation"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application
    android:name="com.smartdengg.presentation.DebugApplication"
    android:icon="@mipmap/ic_launcher"
    android:label="${debuglable}"
    android:largeHeap="false"
    android:theme="@style/AppTheme.SplashTheme"
    tools:replace="label,largeHeap" />

</manifest>
